@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  font-family: 'Russo One', sans-serif;
}

.fancy-text {
  font-family: 'Russo One', sans-serif;
  font-size: 2.5em; /* Large text size */
  color: rgb(40, 39, 39); /* Example color */
  font-weight: bold;
  margin-bottom: 20px; /* Spacing between text and animation */
  /* Add more styling as needed */
}

.custom-button {
  border-radius: 20px; /* Rounded edges */
  font-size: 1.4rem;
  font-weight: bold;
  padding: 5px 20px; /* Smaller footprint */
  transition: 0.3s; /* Smooth transition for press effect */
}

.login-btn {
  border-radius: 20px; /* Rounded edges */
  font-weight: bold;
  padding: 5px 20px; /* Smaller footprint */
  transition: 0.3s; /* Smooth transition for press effect */
  --border-color: rgb(174,108,194);
}

.login-btn-1 {
  border-radius: 20px; /* Rounded edges */
  font-weight: bold;
  padding: 5px 20px; /* Smaller footprint */
  transition: 0.3s; /* Smooth transition for press effect */
  --background: black;
  color: white;
  --border-color: black;
  --box-shadow: rgba(140, 132, 132, 0.1) 0px 4px 12px;
}

.login-btn-1:active {
  box-shadow: 0 2px 4px rgba(204, 96, 96, 0.924); /* Pressed state shadow */
  transform: translateY(2px); /* Pressed state movement */
}


.signin-btn {
  --background: black;
  color: white;
  --border-color: black;
  --box-shadow: rgba(140, 132, 132, 0.1) 0px 4px 12px;
}

.signin-btn:active {
  box-shadow: 0 2px 4px rgb(174,108,194); /* Pressed state shadow */
  transform: translateY(2px); /* Pressed state movement */
}

.custom-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Pressed state shadow */
  transform: translateY(2px); /* Pressed state movement */
}

ion-button.signup-btn {
  --background: rgb(174,108,194);
  color: rgb(0, 0, 0);
  --border-color: black;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

ion-button.login-btn {
  --border-color: black;
  --color: black;
  --outline: red;
}

/* YourStyleSheet.css */
.ion-justify-content-center {
  justify-content: center;
}

.ion-align-items-center {
  align-items: center;
}


.test{
  border: 2px solid black;
}
/* App.css or global.css */
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px; /* Full viewport height */
  text-align: center;
}
