
ion-grid{
  height: 100%;
}
ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form .ion-button {
  display: block; /* Block display to fill the width of its container */
  width: 50px; /* Set the width to 60% */
  margin: 0 auto; /* Center the button horizontally */
}